/* リセット用CSS */

html {
 height: 100%;
}

body {
 min-height: 100%;
 margin: 0;
 padding: 0;
 color: #1a1a1a;
 font-family: "Noto Sans JP", sans-serif;
 background: #f6f5f4
 
 display: flex;
}

#main {
 padding-top: 50px;
 padding-bottom: 150px;
 padding-left: 50px;
 padding-right: 50px;
 overflow: auto;
}


/* Headerスタイル */

header {
 width: 100%;
 height: 100px;
 background-color: #b3d874;
 padding-left: 50px;
 padding-right: 50px;
 box-sizing: border-box;
 
 display: flex; /* flexboxを作る */
 align-items: center; /* 上下中央に揃える */
 justify-content: space-between; /* 両端に配置 */
 
 top: 0;
}

#header-title a {
 color: #1a1a1a;
 font-size: 30px;
 text-decoration: none;
}

#header-menu {
 list-style: none;
 display: flex;
}

#header-menu li a {
 padding: 10px 15px;
 color: #1a1a1a;
 text-decoration: none;
 font-weight: bold;
}

#header-menu li a:hover {
 text-decoration: underline;
}

/* Headerスタイル */


/* Footerスタイル */

footer {
 bottom: 0px;
 width: 100%;
 height: 120px;
 text-align: center;
 padding: 50px 0;
 background-color: #cab64a;
}

/* Footerスタイル */