.wrapper {
 width: 600px;
 max-width: 600px; /* 最大横幅指定 */
 margin: 0 auto; /* 各ボックスを中央揃え */
 text-align: center; /* テキスト中央寄せ */
 font-family: "Yu Gothic UI"; /* フォント指定 */
 
 background-color: lightgreen;
 
 padding: 30px 20px;
 border: 2px solid black;
}

/* 各ボックスを視覚化 */
#qNum, #timeBox, #qBox, #aBox, #aButtons {
 background-color: white;
 border: 2px solid black;
}

/* 問題番号 */
#qNum {
 float: left; /* 左詰め */
 width: 30%;
 height: 25px;
}

/* 時間表示 */
#timeBox {
 float: right; /* 右詰め */
 width: 30%;
 height: 25px;
}


/* 問題表示 */
#qBox { 
 clear: both;
 margin-top: 30px;
 margin-bottom: 30px;
}

/* 回答表示 */
#aBox {
 margin-bottom: 30px;
}

#qBox, #aBox {
 width: 80%;
 height: 60px;

 display: inline-block;
 padding-top: 5px;
}

/* 問題・回答の文字 */
#question, #answer {
 font-size: 40px;
 vertical-align: middle;
}

/* 各ボタンの枠 */
#answerBtn, #selectBtn {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 
 padding: 20px 20px 10px 20px;
}

/* ボタンの共通フォーマット */
.numBtn, .eBtn, .cBtn {
 
 background-color: #7777ff; /* 背景色 */
 color: white; /* 文字色 */
 
 cursor: pointer; /* ボタンと重なった時のカーソルの挙動 */
}

/* 数字ボタンのフォーマット */
.numBtn {
 /* ボタンの大きさ */
 width: 40px;
 height: 40px;
 
 font-size: 30px; /* フォントサイズ */
 
 border: 1px solid black; /* 枠線の太さ・色 */
 border-radius: 30%; /* 枠線の角の曲がり具合 */
}

/* 決定・クリアボタンのフォーマット */
.eBtn, .cBtn {
 /* ボタンの大きさ */
 width: 90px;
 height: 45px;
 
 font-size: 30px; /* フォントサイズ */
 
 border: 1px solid black; /* 枠線の太さ・色 */
 border-radius: 45%; /* 枠線の角の曲がり具合 */
}

